.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 1000px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 685px;
}

header h1 {
  letter-spacing: 7px;
  font-stretch: ultra-expanded;
  font-size: 40px;
  color: white;
  position: absolute;
  margin-top: 150px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  width: 1000px;
}

#logo-top {
  margin: 3%;
}

#menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  padding-right: 3%;
}

#menu-top p {
  margin-left: 30px;
  color: white;
  font-weight: bold;
}

#contact {
  height: 35px;
  width: 100px;
  background-color: white;
  border-radius: 30px;
  border-style: none;
  margin-left: 3%;
  font-weight: bold;
}

#arow-down {
  position: absolute;
  margin-top: 270px;
  width: 20px;
}

#orange-header {
  width: 100%;
}

.linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 417px;
}

.linhatxt {
  width: 500px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linhatxt div {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.linhatxt div h2 {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: 900;
  color: #23303e;
}

.linhatxt div p {
  line-height: 25px;
  font-family: 'Barlow', serif;
  font-size: 16px;
  font-weight: 900;
  color: #818498;
}

.learnmore {
  font-family: 'Fraunces', serif !important;
  border-bottom: 5px;
  color: #23303e !important;
}

.linhaimg {
  width: 500px;
}

.linhaimg img {
  width: inherit;
  height: inherit;
}

.linhaimgtxt {
  width: 500px;
  height: inherit;
}

.linhaimgtxt img {
  position: absolute;
  width: inherit;
  height: inherit;
}

.linhaimgtxt div {
  width: inherit;
  height: inherit;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.linhaimgtxt div div {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graphicdesign h2 {
  font-family: 'Fraunces', serif;
  font-size: 24px;
  font-weight: 900;
  color: #25564b;
}

.graphicdesign p {
  line-height: 20px;
  font-family: 'Barlow', serif;
  font-size: 13px;
  font-weight: 900;
  color: #818498;
  width: 270px;
  text-align: center;
  color: #25564b;
}

.photography h2 {
  font-family: 'Fraunces', serif;
  font-size: 24px;
  font-weight: 900;
  color: #19536b;
}

.photography p {
  width: 270px;
  font-family: 'Barlow', serif;
  font-size: 13px;
  font-weight: 900;
  color: #19536b;
  text-align: center;
  line-height: 20px;
}

.linhaclient {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linhaclient h2 {
  font-family: 'Fraunces', serif;
  color: #a7abae;
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  text-align: center;
}

.clientcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clientcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin-bottom: 50px;
}

.clientcard p {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Barlow';
  color: #5a636c;
}

.clientcard div {
  height: 10px;
}

.clientcard > div > h3 {
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: #23303e;
}

.clientcard div p {
  font-family: 'Barlow';
  font-size: 13px;
}

.clientcard img {
  border-radius: 500px;
  width: 60px;
  margin-bottom: 40px;
}

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery img {
  width: 250px;
}

footer {
  width: 1000px;
  height: 230px;
  background-color: #73d4c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logofooter {
  width: 100px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 130px;
}

.icons > img {
  width: 15px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 250px;
  color: #458c7e;
  font-family: 'Barlow';
  font-size: 13px;
}
/*# sourceMappingURL=stylesheet.css.map */