.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


body {
  width: 99vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 685px;
}

header > h1 {
  letter-spacing: 7px;
  font-stretch: ultra-expanded;
  font-size: 40px;
  color: white;
  position: absolute;
  margin-top: 150px;
  font-family: 'Fraunces', serif;
  font-weight: 900;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  width: 1000px;
}

#logo-top {
  margin: 3%;
}

#menu-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98%;
  padding-right: 3%;
}

#menu-top > p {
  margin-left: 30px;
  color: white;
  font-weight: bold;
}

#contact {
  height: 35px;
  width: 100px;
  background-color: white;
  border-radius: 30px;
  border-style: none;
  margin-left: 3%;
  font-weight: bold;
}

#arow-down {
  position: absolute;
  margin-top: 270px;
  width: 20px;
}

#orange-header {
  width: 100%;
}

.linha {
  display: flex;
  width: 1000px;
  height: 417px;
}

.linhatxt {
  width: 500px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linhatxt > div {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.linhatxt > div > h2{
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}

.linhatxt > div > p{
  line-height: 25px;
  font-family: 'Barlow', serif;
  font-size: 16px;
  font-weight: 900;
  color: hsl(232, 10%, 55%);
}

.learnmore{
  font-family: 'Fraunces', serif !important;
  border-bottom: 5px;
  color:hsl(212, 27%, 19%) !important;
}

.linhaimg {
  width: 500px;
}

.linhaimg > img {
  width: inherit;
  height: inherit;
}

.linhaimgtxt {
  width: 500px;
  height: inherit;
}

.linhaimgtxt > img {
  position: absolute;
  width: inherit;
  height: inherit;
}

.linhaimgtxt > div {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.linhaimgtxt > div > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphicdesign > h2{
  font-family: 'Fraunces', serif;
  font-size: 24px;
  font-weight: 900;
  color: hsl(167, 40%, 24%);

}

.graphicdesign > p{
  line-height: 20px;
  font-family: 'Barlow', serif;
  font-size: 13px;
  font-weight: 900;
  color: hsl(232, 10%, 55%);
  width: 270px;
  text-align: center;
  color: hsl(167, 40%, 24%);
  
}

.photography > h2{
  font-family: 'Fraunces', serif;
  font-size: 24px;
  font-weight: 900;
  color: hsl(198, 62%, 26%);

}

.photography > p{
  width: 270px;
  font-family: 'Barlow', serif;
  font-size: 13px;
  font-weight: 900;
  color: hsl(198, 62%, 26%);
  text-align: center; 
  line-height: 20px;
}

.linhaclient{
  display:flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  align-items: center;
  justify-content: center;

}

.linhaclient > h2{
  font-family: 'Fraunces', serif;
  color: hsl(210, 4%, 67%);
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.clientcards{
  display: flex;
  width: 1000px;
  justify-content: space-around;
}

.clientcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 50px;
}

.clientcard > p{
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Barlow';
  color: hsl(213, 9%, 39%);

}

.clientcard > div{
  height: 10px;
}
.clientcard > div >  h3{
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}

.clientcard > div > p{
  font-family: 'Barlow';
  color:hsl(210, 4%, 67%);
  font-size: 13px;
}

.clientcard >img{
  border-radius: 500px;
  width: 60px;
  margin-bottom: 40px;
}

.galery{
  display: flex;
}

.galery > img{
  width:250px;
}

footer{
  width: 1000px;
  height: 230px;
  background-color: hsl(168, 53%, 64%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#logofooter{
  width: 100px;
  
}

.icons{
  display: flex;
  justify-content: space-around;
  width: 130px;
}

.icons > img{
  width: 15px;
}

label{
  display: flex;
  justify-content: space-around;
  width: 250px;
  color: hsl(168, 34%, 41%);
  font-family: 'Barlow';
  font-size: 13px;
}