.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  width: 99vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 685px;
}

header > h1 {
  font-size: 60px;
  color: white;
  position: absolute;
  margin-top: 7%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  width: 1000px;
}

#logo-top {
  margin: 3%;
}

#menu-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98%;
  padding-right: 3%;
}

#menu-top > p {
  margin-left: 30px;
  color: white;
  font-weight: bold;
}

#contact {
  height: 35px;
  width: 100px;
  background-color: white;
  border-radius: 30px;
  border-style: none;
  margin-left: 3%;
  font-weight: bold;
}

#arow-down {
  position: absolute;
  margin-top: 13%;
  width: 30px;
}

#orange-header {
  width: 100%;
}

.linha {
  display: flex;
  width: 1000px;
  height: 417px;
}

.linhatxt {
  width: 500px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linhatxt > div {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.linhaimg {
  width: 500px;
}

.linhaimg > img {
  width: inherit;
  height: inherit;
}

.linhaimgtxt {
  width: 500px;
  height: inherit;
}

.linhaimgtxt > img {
  position: absolute;
  width: inherit;
  height: inherit;
}

.linhaimgtxt > div {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.linhaimgtxt > div > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
